.bp{
  filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
  stroke-width: 1px;
  stroke: black;
  &.On{
      fill: rgb(255, 238, 0);

  }
  &.Off{
    fill: rgb(187, 88, 88);
  }
  &:hover{
    stroke-width: 3px;
    }
  &:active{
    filter: drop-shadow( 2px 2px 2px rgba(152, 202, 159, 0.7));
  }
}

